/* VERSION MOBILE*/
@media (max-width: 750px) 
{
   body 
   {
       overflow-x: hidden;
   }
    .openmenu
    {
        display: initial;
        color: #737373;
        height: 1.875em;
        width: 2.188em;
        padding: 15% 0.5% 0.5% 85% ;
    }
    header
    {
        width: 100%;
        height: 20%;
        display: grid;
        margin-top: 1%;
        grid-template-columns: repeat(2,1fr);
    } 
    .menu
    {
        display: none;
    }
    .start
    {
        background: none;
    }
    .start h3 ,.start h4
    {
        color: #737373;
        text-align: center;
    }
    .start h2
    {
        color: #252b45;
        font-family: "Poppins", sans-serif;
        font-size: 3.625em;
        font-weight: bold;
        width: 90%;
        text-align: center;
        margin-left: 10%;
    }
    .download
    {
        width: 10%;
    }
    .app
    {
        display: grid;
        grid-template-rows: repeat(2, 0.2fr);
        text-decoration: none;
        color: #252b45;
        text-align: center;
        font-size: 1.563em;
        border: #fa4a0c solid 0.063em;
        border-radius: 1.875em;
        padding: 1% 4% 2% 4%;
        margin: 1% 1% 2% 1%;
    }
    .app:hover
    {
        background-color: #fa4a0c;
    }
    .telephone
    {
    display: grid;
    justify-content: center;
   
    }
    hr 
    {
    position: relative;
    border-radius: 1.875em;
    border: 0.188em solid #e4e4e4;
    background-color: #e4e4e4;
    margin: 0.2% 3% 0 3%;
    }
    .subcontain h1
    {
        text-align: center;
        margin-top: 3%;
        font-size: 3.125em;
    }
    
    .rect1
    {
        display: grid;
        grid-template-rows: 1fr ;
    }
    .rect1 img 
    {
        position: relative;
        grid-row: 2;
        top: -13%;  
        left: 10%;
    }
    .text, .texte
    {
       width: 100%;
    }
    .rect1 h1, .rect2 h1
    {
        color: black;
        font-size: 2.813em;
        text-align: center;   
    }
    .rect1 h3,  .rect2 h3
    {
        font-size: 1.438em;
        color: #fa4a0c;
        text-align: center;   
    }
    .rect1 p,  .rect2 p
    {
        color: #737373;
        line-height: normal;
        font-size: 1.438em;
        text-align: center;   
        margin-left: 12%;
    }
    .rect2
    {
        display: grid;
        grid-template-rows: 1fr;
    }
    .rect2 img 
    {
        position: relative;
        grid-row: 2;
        top: -40%; 
        left: 10%;

    }
    .texte
    {
        position: relative;
        top: -70%;
    }
    footer .logo, footer .copy
    {
        display: none;
    }
    footer .copy1
    {
        display: initial;
        text-align: center;
    }
    footer .sn
    {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        justify-content: center;
        position: relative;
        left: 15%;
    }
}

/* VERSION MOBILE*/
@media (max-width: 580px) 
{
   body 
   {
       overflow-x: hidden;
   }
    .openmenu
    {
        display: initial;
        color: #737373;
        height: 1.875em;
        width: 2.188em;
        padding: 15% 0.5% 0.5% 85% ;
    }
    header
    {
        width: 100%;
        height: 20%;
        display: grid;
        margin-top: 1%;
        grid-template-columns: repeat(2,1fr);
    } 
    .menu
    {
        display: none;
    }
    .start
    {
        background: none;
    }
    .start h3 ,.start h4
    {
        color: #737373;
        text-align: center;
    }
    .start h2
    {
        color: #252b45;
        font-family: "Poppins", sans-serif;
        font-size: 3.625em;
        font-weight: bold;
        width: 90%;
        text-align: center;
        margin-left: 10%;
    }
    .download
    {
        width: 10%;
    }
    .app
    {
        display: grid;
        grid-template-rows: repeat(2, 0.2fr);
        text-decoration: none;
        color: #252b45;
        text-align: center;
        font-size: 1.563em;
        border: #fa4a0c solid 0.063em;
        border-radius: 1.875em;
        padding: 1% 4% 2% 4%;
        margin: 1% 1% 2% 1%;
    }
    .app:hover
    {
        background-color: #fa4a0c;
    }
    .telephone
    {
    display: grid;
    justify-content: center;
   
    }
    hr 
    {
    position: relative;
    border-radius: 1.875em;
    border: 0.188em solid #e4e4e4;
    background-color: #e4e4e4;
    margin: 0.2% 3% 0 3%;
    }
    .subcontain h1
    {
        text-align: center;
        margin-top: 3%;
        font-size: 3.125em;
    }
    
    .rect1
    {
        display: grid;
        grid-template-rows: 1fr;
    }
    .rect1 img 
    {
        position: relative;
        grid-row: 2;
        top: -13%;  
        left: 5%;
    }
    .text, .texte
    {
       width: 80%;
    }
    .rect1 h1, .rect2 h1
    {
        color: black;
        font-size: 2.813em;
        text-align: center;   
    }
    .rect1 h3,  .rect2 h3
    {
        font-size: 1.438em;
        color: #fa4a0c;
        text-align: center;   
    }
    .rect1 p,  .rect2 p
    {
        color: #737373;
        line-height: normal;
        font-size: 1.438em;
        text-align: center;   
        margin-left: 10%;
    }
    .rect2
    {
        display: grid;
        grid-template-rows: 1fr;
    }
    .rect2 img 
    {
        position: relative;
        grid-row: 2;
        top: -40%; 
        left: 5%;

    }
    .texte
    {
        position: relative;
        top: -70%;
    }
    footer .logo, footer .copy
    {
        display: none;
    }
    footer .copy1
    {
        display: initial;
        text-align: center;
    }
    footer .sn
    {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        justify-content: center;
        position: relative;
        left: 15%;
    }
}